
.mt-6 {
    margin-top: 2rem;
}
.mt-7 {
    margin-top: 3rem;
}
.mt-8 {
    margin-top: 4rem;
}
.mt-9 {
    margin-top: 5rem;
}
.mt-10 {
    margin-top: 6rem;
}
.mt-11 {
    margin-top: 7rem;
}
.mt-12 {
    margin-top: 8rem;
}
.mt-13 {
    margin-top: 9rem;
}
.mt-14 {
    margin-top: 10rem;
}
.mt-15 {
    margin-top: 11rem;
}
.mt-16 {
    margin-top: 12rem;
}
.mt-17 {
    margin-top: 13rem;
}
.mt-18 {
    margin-top: 14rem;
}
.mt-19 {
    margin-top: 15rem;
}
.mt-20 {
    margin-top: 16rem;
}


.heavy-underline {
    background-image: -webkit-gradient(linear,left top, left bottom,color-stop(0, #fc0),to(#fc0));
    background-image: linear-gradient(to bottom,#fc0 0,#fc0 100%);
    background-position: 0 0.85em;
    background-size: 100% 14px;
    background-repeat: repeat-x;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}